# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider files
.idea/

# Ignore build results
*.log

# Ignore NuGet packages
*.nupkg
packages/

# Ignore Visual Studio Code settings
.vscode/

# Ignore test results
TestResults/

# Ignore other temp files
*.DS_Store
*.vs/
